h2{
    color: yellowgreen;
}
footer{
    background: #444;
    h4{
        color: rgb(241, 9, 9);
        a{
            color: blue;
        }
    }
}


/* h1{
     color: red;
     font-size: large;
     background-color: rebeccapurple; 
 }*/